{% extends 'layout.html' %} {% block main %}
<style>
  .log-form {
    width: 350px;
  }
</style>
<div class="container my-5">
  <div class="row">
    <div class="col-md" style="display: block; text-align: center">
      <form method="POST" action="/auth/login" class="log-form shadow p-3 mb-5 bg-body rounded" style="
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        ">
        <h2 class="text-center mb-2">Login</h2>
        <div class="mb-3">
          <label for="username_field" class="form-label">Username</label>
          <input name="username" type="text" class="form-control" id="username_field" required />
        </div>
        <div class="mb-3">
          <label for="password_field" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password_field" required />
        </div>
        <div class="d-grid gap-2 mb-2">
          <button class="btn btn-success" type="submit">Login</button>
        </div>
        <p class="text-muted text-center">
          Or <a style="text-decoration: none" href="{{ reg }}">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock main %}