{% extends 'layout.html' %} {% block main %}
<style>
  .reg-form {
    width: 350px;
  }
</style>
<div class="container my-5">
  <div class="row">
    <div class="col-md" style="display: block; text-align: center">
      <form method="POST" action="/auth/register" class="reg-form shadow p-3 mb-5 bg-body rounded" style="
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        ">
        <h2 class="text-center mb-2">{{ cfg['REGISTER_PAGE_TITLE'] }}</h2>
        <div class="mb-3">
          <label for="email_field" class="form-label">{{ cfg['REGISTER_LABEL_EMAIL'] }}</label>
          <input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" name="email" />
        </div>
        <div class="mb-3">
          <label for="username_field" class="form-label">{{ cfg['REGISTER_LABEL_USERNAME'] }}</label>
          <input min="3" type="text" class="form-control" id="username_field" name="username" required />
        </div>
        <div class="mb-3">
          <label for="password_field" class="form-label">{{ cfg['REGISTER_LABEL_PASSWORD'] }}</label>
          <input min="7" max="64" type="password" class="form-control" id="password_field" name="password" required />
          <span id="error_msg" class="text-danger mt-2" style="padding: 5px">
          </span>
        </div>
        <div class="d-grid gap-2 mb-2">
          <button class="btn {{ cfg['REGISTER_BTN'] }}" type="submit" id="form_btn">
            {{ cfg['REGISTER_BTN_TEXT'] }}
          </button>
        </div>
        <p class="text-muted text-center">
          Or <a style="text-decoration: none" href="{{ log }}">Login</a>
        </p>
      </form>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script>
  $("#form_btn").attr("disabled", true);
  $("#password_field").on("change", function () {
    if (this.value.length < 8) {
      $("#form_btn").attr("disabled", true);
      $("#error_msg").html("Password must be 8 characters long!");
      $(this).focus();
      return false;
    } else {
      $("#error_msg").html("");
      $("#form_btn").removeAttr("disabled");
    }
  });
</script>
{% endblock main %}